<div class="parallax-container">
  <div class="section no-pad-bot">
      <div class="container">
          <br><br>
          <h1 class="header center teal-text text-lighten-2"><img class="responsive-img" id="logo" src="../../../assets/logo.png"></h1>
          <div class="row center">
            <h5 class="header col s12 light">Un juego sobre la contaminacion ambiental</h5>
          </div>
          <div class="row center">
              <span>
            <a href="Juego" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Jugar ahora</a>
            </span>
            <span><a href="Video" id="video-button" class="btn-large waves-effect waves-light teal lighten-1">Ver Trailer</a></span>
          </div>
          <br><br>
      </div>
  </div>
  <div class="parallax" materialize="parallax">
    <img src="../../../assets/background.jpg">
  </div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">BackTrack</h2>
    <p class="grey-text text-darken-3 lighten-3">BackTrack cuanta la historia de un grupo de personas que desde el aislamiento intentan salvar el mundo y establecer un Imperio de paz.</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax" materialize="parallax">
    <img src="../../../assets/background.jpg">
  </div>
</div>