<div class="parallax-container">
    <div class="parallax" materialize="parallax">
      <img src="../../../assets/background.jpg">
    </div>
  </div>
  <div class="section white">
    <div class="row container">
        <ul id="tabs-swipe-demo" class="tabs" materialize="tabs">
            <li class="tab col s3"><a class="active black-text" href="#test-swipe-1"> Historia Previa</a></li>
            <li class="tab col s3"><a class="black-text" href="#test-swipe-2" >Nivel 1</a></li>
            <li class="tab col s3"><a class="black-text" href="#test-swipe-3">Nivel 2</a></li>
            <li class="tab col s3"><a class="black-text" href="#test-swipe-4">Nivel 3</a></li>
          </ul>
          <div id="test-swipe-1" class="col s12">
            <p>
                En un futuro no muy lejano el mundo parece gozar de paz bajo el dominio imperial instaurado, el emperador parece tener buenas intenciones pero su administración trajo consigo la explotación insostenible de los recursos naturales y el gran incremento de las emisiones de CO2, todo por el progreso del imperio.
            </p>
            <p>
                El centro político del imperio se estableció en China por su gran motor industrial y la gran población que esta tiene, en este tiempo llega, a la capital del imperio, Hari Seldon un gran matemático a quien se le atribuye el nacimiento y perfeccionamiento de la ciencia que se conocería como psicohistoria, la cual es una rama de la historia, psicología y la matemática que puede predecir el futuro de grandes masas poblacionales.
            </p>                
            <p>
                Con la ayuda de la psicohistoria Seldon predice que el imperio funcionando como lo hace ahora acabará desastrosamente en 150 años, y que seguido a la caída del imperio seguirán 1000 años de barbarie entre los humanos sobrevivientes. Seldon reunio a un grupo de personas con las que él cree poder encontrar alguna solución a esto. El emperador al ver todo este movimiento y conociendo las predicciones de Seldon debe tomar acciones, Seldon es detenido con acusaciones de rebelión y después de una audiencia el emperador decide que él y todos sus seguidores sean enviados (exiliados) a Islandia, donde estarán bajo el cuidado del emperador y podrán seguir con su tarea, encontrar la solución, y no molestaran ni causarán incertidumbre al resto del imperio.
            </p>
            <p>  
                Así comienza nuestra historia un grupo de no más de 2000 personas exiliados en una tierra desconocida para ellos. 
            </p>
          </div>
          <div id="test-swipe-2" class="col s12">
            <p>
            El juego comenzará 50 años después de los acontecimientos de Seldon en la capital del imperio.
          </p>
            <p>
              El grupo de personas que seleccionó Seldon era especial formado principalmente por científicos, pero más que todo por cualquier persona que tenga amor por el planeta y quisiera salvarlo. Es así que después de su asentamiento en Islandia empiezan una pequeña civilización regida por el uso de recursos sostenibles.
              <p>
            </p>
              En estos días el poder imperial se siente cada vez menos y los rumores de revueltas independentistas en los alrededores se avivan, ya se acerca el aniversario 50 de su llegada, antes de morir Seldon construyó una bóveda que se abriria cada vez que la gente necesite ayuda, todo estaba previsto por la psicohistoria.
              <p>
            </p>
              Llega el día del aniversario 50 de arribo y se abre la bóveda hay un mensaje de Seldon, el cual les revela su verdadero plan, no estaban ahí para buscar una solución para salvar el imperio, este caería no hay duda de eso y les dice que ya está sucediendo y pueden verlo a su alrededor. La verdadera labor de este grupo de personas es el de comenzar esta nueva civilización que respete al ambiente y poco a poco vaya ganando adeptos para que en un futuro este sea el nuevo "Segundo imperio", entonces su tarea ahora es clara deben expandirse, ir esparciendo su tecnología y costumbres a su alrededor para un dia poder llegar al centro del imperio que está muriendo.
              <p>
            </p>
              Tenemos la primera crisis que atravesar con los movimientos de los países cercanos liberándose del imperio amenazan con la estabilidad de nuestra civilización, por lo que debemos encontrar la manera de convivir o dominar a nuestros vecinos más cercanos.
              <p> 
            </p>
              Uno de estos es Noruega que pide nuestra ayuda ya que si bien ellos llevan una vida parecida a la que profesamos, sus vecinos ocasionan daño al mismo que ocasiona lluvia ácida por diferentes partes del país
              <p>
            </p>    
          </div>
          <div id="test-swipe-3" class="col s12">
            <p>
              Pasados 30 años tenemos un futuro más prometedor con el dominio de nuestros vecinos, y deberá comenzar la tarea de expansión con lo cual deberemos enviar gente para esta labor en más países, con lo llegamos a Polonia donde encontramos al Bosque de Białowieża, uno de los últimos bosques vírgenes y casa del, casi extinto, bisonte europeo. Al llegar podemos ver a fuerzas imperiales en busca de más recursos, madera, por lo cual deberemos defender este bosque.
            </p>
          </div>
          <div id="test-swipe-4" class="col s12">
            <p>
            Pasados 50 años seguimos con nuestra expedición, con objetivo el centro del imperio, llegamos a Ucrania un país que en el pasado y presente sufrió los horrores de la contaminación nuclear, prueba de esto es la ciudad de Chernóbil donde el ambiente está fuertemente contaminado, por lo residuos de este desastre, es nuestra tarea liberar a este país de este problema.              
            </p>
          </div>

    </div>
  </div>
  <div class="parallax-container">
      <div class="parallax" materialize="parallax">
        <img src="../../../assets/background.jpg">
      </div>
    </div>