<header>
<div materialize class="navbar-fixed">
  <nav>
    <div class="nav-wrapper light-blue darken-4">
      <a href="#!" class="brand-logo"><img class="responsive-img" id="logo" src="../../../assets/logo.png"></a>
      <ul class="right hide-on-med-and-down">
          <li><a href="Juego">Juego</a></li>
          <li><a routerLink="/history" routerLinkActive="active">Historia</a></li>
          <li><a href="Noticias">Noticias</a></li>
          <li><a href="Foro">Foro</a></li>
          <li><a href="Tienda">Tienda</a></li>
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
      </ul>
    </div>
  </nav>
</div>
</header>